@font-face {
    font-family: "Grobold";
    src: url("../fonts/grobold.eot") format('embedded-opentype'), url("../fonts/grobold.woff") format('woff'),url("../fonts/grobold.ttf") format('truetype');

}
.navbar-default .navbar-brand {
    font-family: "Grobold","Helvetica Neue",Helvetica,Arial,cursive;
    color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active {
    color: #444444;
}
.navbar-default .nav li a {
    color: #000000;
}
.navbar-default .nav li a:hover {
    color: transparent;
}
.navbar-default .nav li a:focus
.navbar-default .nav li a:active {
    color: #444444;
}
.btn-xl,
.navbar-default .navbar-toggle {
    background-color: #be884a;
    border-color: #906333;
}

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #444444;
}
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl,
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active {
    border-color: #9b6c3a;
    color: #fff;
    background-color: #c19766;
}

.container>.navbar-header,
.navbar-default .navbar-collapse  {
    background-color:#fff;
}

@media (min-width: 768px) {
    .container>.navbar-header,
    .navbar-default .navbar-collapse  {
        background-color:initial;
    }

    .navbar-default.navbar-shrink  {
        background-color:#FFF;
    }
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background-color:rgba(0,0,0,0.9);
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    color: #8eb334;
}

.cactus {
    position: fixed;
    top: -50px;
    width: 80px;
    transform: rotate(180deg);
    z-index: 10000;
    pointer-events: none;
}